body 
{
    background-color: #FFFFFF;
	overflow-x: hidden;
}
p 
{
    font-family: "Times New Roman";
    font-size: 20px;
	width:50%;
}

/* Login */
.login 
{
    width: 18%;
    font-family: Arial, sans-serif;
    font-size: 11pt;
	position: fixed;
	top: 5%;
	right: 5%;
}
.user 
{
	width: 18%;
    font-family: Arial, sans-serif;
    font-size: 11pt;
	position: absolute;
	top: 5%;
	right: 0.5%;
}
.user tr
{
    text-decoration:none;
	visibility:hidden;
}
.user:hover tr
{
	visibility:visible;
}
.user tr:hover
{
	visibility:visible;
	background-color:rgba(255,0,0,0.1);
}

/* Alta */
.alta
{
    color: black;
	position: fixed;
	top: 15%;
	left: 23%;
}

/* Busqueda */
.busqueda
{
	position:fixed;
	top:10%;
	left:4%;
}

/* Menu */
.menu img{
    margin-left: 60px;
    top: 20%;
    display: inline;
    position: fixed;
}
.menu ul 
{
    list-style-type: none;
    width: 14%;
    font-family: Arial, sans-serif;
    font-size: 11pt;
	position: fixed;
	top: 30%;
	cursor:pointer;
}
.menu ul li 
{
    background-color: #666;
}
.menu ul li a 
{
    color: #ccc;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 10px 10px 10px 20px;
}
.menu ul li a:hover 
{
    background: #000;
    border-left: 10px solid #333;
    color: #fff;
}
.menu li ul {
   display: none;
   position: relative;
   min-width: 140px;
}
.menu li:hover > ul {
   display: block;
    top: 0;
    position: relative;
}

/* Contenido */
.titulo
{
    color: black;
	position: absolute;
	font-family: Arial, sans-serif;
	top: 15%;
	left: 23%;
}
.contenido 
{
	position: relative;
	top: 200px;
	left: 300px;
	font-family: Arial, sans-serif;
    font-size: 12pt;
	z-index:0;
}
.contenido .lista
{
    background: rgba(173,234,234,0.5);
	cursor:pointer;
}
.contenido .lista:hover
{
	background-color: rgba(173,234,234,1);
}

.star-rating
{
	list-style:none;
	margin-left:5px !important;
	padding:0px;
	width:80px;
	height:16px;
	position:relative;
	background:url(../img/star.gif) top left repeat-x
}
.star-rating li
{
	padding:0px;
	margin:0px;
	float:left
}
.star-rating li a
{
	display:block;
	width:8px;
	height:16px;
	text-decoration:none;
	text-indent:-9000px;
	outline:none;
	z-index:20;
	position:absolute;
	padding:0px
}
.star-rating li a:hover
{
	background:url(../img/star.gif) left bottom;
	z-index:2;
	left:0px
}
.star-rating a.one-star{left:0px;}
.star-rating a.one-star:hover{width:8px;}
.star-rating a.two-stars{left:8px;}
.star-rating a.two-stars:hover{width:16px;}
.star-rating a.three-stars{left:16px;}
.star-rating a.three-stars:hover{width:24px;}
.star-rating a.four-stars{left:24px;}
.star-rating a.four-stars:hover{width:32px;}
.star-rating a.five-stars{left:32px;}
.star-rating a.five-stars:hover{width:40px;}
.star-rating a.six-stars{left:40px;}
.star-rating a.six-stars:hover{width:48px;}
.star-rating a.seven-stars{left:48px;}
.star-rating a.seven-stars:hover{width:56px;}
.star-rating a.eight-stars{left:56px;}
.star-rating a.eight-stars:hover{width:64px;}
.star-rating a.nine-stars{left:64px;}
.star-rating a.nine-stars:hover{width:72px;}
.star-rating a.ten-stars{left:72px;}
.star-rating a.ten-stars:hover{width:80px;}

.star-rating li.current-rating
{
	background:url(../img/star.gif) left center;
	position:absolute;
	height:16px;
	display:block;
	text-indent:-9000px;
	z-index:1;
}
/* Contacto */
.contactar
{
	width:99%;
	position:fixed;
	bottom:0;
	display:block;
	border-top: 1px dashed #999;
	padding-top: 0.5%;
	z-index: 2;
	background-color: #FFFFFF;
}
.hueco
{
	height:220px;
}

.info, .exito, .alerta, .error 
{
	font-family:Arial, Helvetica, sans-serif; 
	font-size:14px;
	border: 1px solid;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	width:30%;
	top: 100px;
	left: 400px;
	z-index:5;
	position:fixed;
}
.info 
{
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../img/Info.png');
}
.exito 
{
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('../img/Valid Green.png');
}
.alerta
 {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../img/Attention.png');
}
.error 
{
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../img/cancel.png');
}

/* Comentarios*/
.comentarios
{
	font-family:Arial, Helvetica, sans-serif; 
	font-size:10px;
	background-position: 10px center;
	position:fixed;
}
.comentario
{
	border: 1px solid;
	color: #000000;
	width:30%;
	background: rgba(173,234,234,0.5);
}
.autor
{
	color: rgba(255,150,155,1);
}
.reportar
{
	text-align: right;
}