/* Login */
.login 
{
    width: 18%;
    font-family: Arial, sans-serif;
    font-size: 11pt;
	position: fixed;
	top: 5%;
	right: 10%;
}
.user 
{
	width: 18%;
    font-family: Arial, sans-serif;
    font-size: 11pt;
	position: fixed;
	top: 5%;
	right: 10%;
}
.user tr
{
    text-decoration:none;
	visibility:hidden;
}
.user:hover tr
{
	visibility:visible;
}
.user tr:hover
{
	visibility:visible;
	background-color:rgba(255,0,0,0.1);
}

/* Alta */
.alta
{
    color: black;
	position: fixed;
	top: 15%;
	left: 23%;
}

/* Busqueda */
.busqueda
{
	position:fixed;
	top:10%;
	left:4%;
}
.busqueda .buscar .submit
{
	background: url(../img/buscar.png);
}

/* Menu */
.menu ul 
{
    list-style-type: none;
    width: 14%;
    font-family: Arial, sans-serif;
    font-size: 11pt;
	position: fixed;
	top: 30%;
}
.menu ul li 
{
    background-color: #666;
}
.menu ul li a 
{
    color: #ccc;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 10px 10px 10px 20px;
}
.menu ul li a:hover 
{
    background: #000;
    border-left: 10px solid #333;
    color: #fff;
}

/* Contenido */
.titulo
{
    color: black;
	position: fixed;
	font-family: Arial, sans-serif;
	top: 15%;
	left: 23%;
}
.contenido 
{
	position: fixed;
	top: 31%;
	left: 23%;
	font-family: Arial, sans-serif;
    font-size: 11pt
}
.contenido .lista
{
    background-color: red;
}
.contenido .lista:hover
{
	background-color: #666;
}

/* Cambia la lista por estrellas */
.contenido .star-rating {
  list-style: none;
  margin-left: 5px !important;
  padding: 0px;
  width: 80px;
  height: 16px;
  position: relative;
  background: url(../img/star.gif) top left repeat-x;
}
/* Mete en las estrellas links */
.star-rating li a {
  display: block;
  width: 8px;
  height: 16px;
  text-decoration: none;
  text-indent: -9000px;
  outline: none;
  z-index: 20;
  position: absolute;
  padding: 0px;
}
.star-rating li.current-rating {
  background: url(../img/star.gif) left center;
  position: absolute;
  height: 16px;
  display: block;
  text-indent: -9000px;
  z-index: 1;
}

/* Contacto */
.contactar
{
	width:0%;
	height:5%;
	position:absolute;
	bottom:0;
	left:50%;
}

body 
{
    background-color: #66ff55;
}
	p 
{
    font-family: "Times New Roman";
    font-size: 20px;
}